Sultanlar.BayiServis/Sultanlar.ClassLib/Web References/Kaan/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SultanlarRapor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auth" type="tns:Authentication" />
            <s:element minOccurs="1" maxOccurs="1" name="ilktarih" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="sontarih" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SultanlarRaporResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SultanlarRaporResult" type="tns:resultB2BSatisRapor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="resultB2BSatisRapor">
        <s:complexContent mixed="false">
          <s:extension base="tns:classResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfSatisRaporSatir" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="classResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Hata" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="HataMesaji" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSatisRaporSatir">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SatisRaporSatir" nillable="true" type="tns:SatisRaporSatir" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SatisRaporSatir">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FATURATURU" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="IPTAL" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="MUSTERIKODU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MUSTERIADI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MUSTERIIL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FATURANO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FATURATARIHI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URUNKODU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URUNADI" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SATISADEDI" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SATISNETFIYAT" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="SultanlarDepoDurum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auth" type="tns:Authentication" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SultanlarDepoDurumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SultanlarDepoDurumResult" type="tns:resultB2BDepoRapor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="resultB2BDepoRapor">
        <s:complexContent mixed="false">
          <s:extension base="tns:classResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MerkezDepo" type="tns:ArrayOfUrun" />
              <s:element minOccurs="0" maxOccurs="1" name="IadeDepo" type="tns:ArrayOfUrun" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfUrun">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Urun" nillable="true" type="tns:Urun" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Urun">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SAPKOD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BARKOD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISIM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MIKTAR" type="s:long" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SultanlarRaporSoapIn">
    <wsdl:part name="parameters" element="tns:SultanlarRapor" />
  </wsdl:message>
  <wsdl:message name="SultanlarRaporSoapOut">
    <wsdl:part name="parameters" element="tns:SultanlarRaporResponse" />
  </wsdl:message>
  <wsdl:message name="SultanlarDepoDurumSoapIn">
    <wsdl:part name="parameters" element="tns:SultanlarDepoDurum" />
  </wsdl:message>
  <wsdl:message name="SultanlarDepoDurumSoapOut">
    <wsdl:part name="parameters" element="tns:SultanlarDepoDurumResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="SultanlarRapor">
      <wsdl:input message="tns:SultanlarRaporSoapIn" />
      <wsdl:output message="tns:SultanlarRaporSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SultanlarDepoDurum">
      <wsdl:input message="tns:SultanlarDepoDurumSoapIn" />
      <wsdl:output message="tns:SultanlarDepoDurumSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SultanlarRapor">
      <soap:operation soapAction="http://tempuri.org/SultanlarRapor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SultanlarDepoDurum">
      <soap:operation soapAction="http://tempuri.org/SultanlarDepoDurum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SultanlarRapor">
      <soap12:operation soapAction="http://tempuri.org/SultanlarRapor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SultanlarDepoDurum">
      <soap12:operation soapAction="http://tempuri.org/SultanlarDepoDurum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://88.249.64.139/WSB2B/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://88.249.64.139/WSB2B/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>